In [1]:
import pandas as pd
import numpy as np

import pickle

In [3]:
preds_path_ls = [
    ('raw', r'C:\bogachevv\Python\OrthogonalFineTune\test_preds\raw.bin'),
    ('LoRA', r'C:\bogachevv\Python\OrthogonalFineTune\test_preds\LoRA.bin')
]

In [4]:
preds_dfs = {}

for run_name, preds_path in preds_path_ls:
    with open(preds_path, 'rb') as f:
        preds_dfs[run_name] = pickle.load(file=f)

In [6]:
preds_dfs['LoRA'].head()

  generated_text           subject pred true  corr category
0           B. 4  abstract_algebra    B    B     1     STEM
1          C. 24  abstract_algebra    C    C     1     STEM
2           C. 0  abstract_algebra    C    D     0     STEM
3       A. True,  abstract_algebra    A    B     0     STEM
4           B. 6  abstract_algebra    B    B     1     STEM

In [7]:
acc_by_subjects = pd.DataFrame({
    'subject': list(set(preds_dfs['raw'].subject))
})

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['subject', 'corr']].groupby(['subject'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_subjects = acc_by_subjects.merge(
        acc_df,
        left_on='subject',
        right_on='subject',
        how='right'
    )

In [8]:
acc_by_subjects

                                subject       raw      LoRA
0                      abstract_algebra  0.350000  0.400000
1                               anatomy  0.674074  0.622222
2                             astronomy  0.750000  0.710526
3                       business_ethics  0.660000  0.620000
4                    clinical_knowledge  0.716981  0.735849
5                       college_biology  0.715278  0.791667
6                     college_chemistry  0.450000  0.460000
7              college_computer_science  0.470000  0.480000
8                   college_mathematics  0.350000  0.330000
9                      college_medicine  0.618497  0.624277
10                      college_physics  0.441176  0.480392
11                    computer_security  0.770000  0.750000
12                   conceptual_physics  0.548936  0.536170
13                         econometrics  0.500000  0.570175
14               electrical_engineering  0.579310  0.606897
15               elementary_mathematics  0.460317  0.460317
16                         formal_logic  0.388889  0.476190
17                         global_facts  0.420000  0.370000
18                  high_school_biology  0.790323  0.754839
19                high_school_chemistry  0.453202  0.536946
20         high_school_computer_science  0.650000  0.730000
21         high_school_european_history  0.715152  0.763636
22                high_school_geography  0.777778  0.792929
23  high_school_government_and_politics  0.849741  0.891192
24           high_school_macroeconomics  0.610256  0.605128
25              high_school_mathematics  0.329630  0.303704
26           high_school_microeconomics  0.731092  0.722689
27                  high_school_physics  0.357616  0.430464
28               high_school_psychology  0.823853  0.851376
29               high_school_statistics  0.481481  0.513889
30               high_school_us_history  0.759804  0.803922
31            high_school_world_history  0.776371  0.852321
32                          human_aging  0.690583  0.672646
33                      human_sexuality  0.740458  0.755725
34                    international_law  0.735537  0.768595
35                        jurisprudence  0.703704  0.768519
36                    logical_fallacies  0.730061  0.717791
37                     machine_learning  0.428571  0.562500
38                           management  0.786408  0.815534
39                            marketing  0.871795  0.871795
40                     medical_genetics  0.740000  0.800000
41                        miscellaneous  0.809706  0.826309
42                       moral_disputes  0.656069  0.676301
43                      moral_scenarios  0.271508  0.291620
44                            nutrition  0.732026  0.725490
45                           philosophy  0.681672  0.707395
46                           prehistory  0.719136  0.716049
47              professional_accounting  0.510638  0.500000
48                     professional_law  0.415906  0.483051
49                professional_medicine  0.746324  0.702206
50              professional_psychology  0.633987  0.696078
51                     public_relations  0.645455  0.654545
52                     security_studies  0.702041  0.710204
53                            sociology  0.850746  0.860697
54                    us_foreign_policy  0.860000  0.880000
55                             virology  0.463855  0.500000
56                      world_religions  0.801170  0.836257

In [9]:
acc_by_categories = pd.DataFrame({
    'category': list(set(preds_dfs['raw'].category))
})

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['category', 'corr']].groupby(['category'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_categories = acc_by_categories.merge(
        acc_df,
        left_on='category',
        right_on='category',
        how='right'
    )

In [10]:
acc_by_categories

                          category       raw      LoRA
0                             STEM  0.525182  0.542744
1                       humanities  0.527099  0.568757
2  other (business, health, misc.)  0.706663  0.705737
3                  social sciences  0.721807  0.746831

In [9]:
total_res = pd.DataFrame(columns=['run_name', 'accuracy', 'correctness'])

for run_name, preds_df in preds_dfs.items():
    total_accuracy = preds_df['corr'].mean()
    total_correctness = (preds_df['pred'] != 'I').mean()

    total_res = pd.concat([
        total_res,
        pd.DataFrame({
            'run_name': [run_name],
            'accuracy': [total_accuracy],
            'correctness': [total_correctness],
        })
    ])

C:\Users\Vladimir\AppData\Local\Temp\ipykernel_24520\2066953499.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_res = pd.concat([

In [10]:
total_res

     run_name  accuracy  correctness
0         raw  0.606793     0.996734
0       cfg11  0.606793     0.990202
0       cfg12  0.610059     0.984977
0       cfg13  0.636839     0.992815
0  test_cfg13  0.633813     0.995656