In [1]:
import pandas as pd
import numpy as np

import pickle

In [34]:
preds_path_ls = [
    ('raw', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\lr_search\run_raw.bin'),
    ('cfg11', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\val_preds\cfg11.bin'),
    ('cfg12', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\val_preds\cfg12.bin'),
    ('cfg13', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\val_preds\cfg13.bin'),
]

In [35]:
preds_dfs = {}

for run_name, preds_path in preds_path_ls:
    with open(preds_path, 'rb') as f:
        preds_dfs[run_name] = pickle.load(file=f)

In [36]:
preds_dfs['cfg11'].head()

  generated_text           subject pred true  corr category
0           D. 6  abstract_algebra    D    A     0     STEM
1           C. 6  abstract_algebra    C    B     0     STEM
2       A. True,  abstract_algebra    A    A     1     STEM
3          D. 12  abstract_algebra    D    C     0     STEM
4          D. 24  abstract_algebra    D    C     0     STEM

In [37]:
acc_by_subjects = pd.DataFrame({
    'subject': list(set(preds_dfs['cfg11'].subject))
})

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['subject', 'corr']].groupby(['subject'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_subjects = acc_by_subjects.merge(
        acc_df,
        left_on='subject',
        right_on='subject',
        how='right'
    )

In [38]:
acc_by_subjects

,subject,raw,cfg11,cfg12,cfg13
0,abstract_algebra,0.272727,0.090909,0.090909,0.363636
1,anatomy,0.500000,0.571429,0.571429,0.571429
2,astronomy,0.500000,0.687500,0.812500,0.750000
3,business_ethics,0.909091,0.636364,0.636364,0.545455
4,clinical_knowledge,0.655172,0.689655,0.724138,0.758621
5,college_biology,0.750000,0.750000,0.750000,0.750000
6,college_chemistry,0.500000,0.250000,0.250000,0.250000
7,college_computer_science,0.363636,0.545455,0.454545,0.545455
8,college_mathematics,0.454545,0.272727,0.363636,0.363636
9,college_medicine,0.636364,0.681818,0.636364,0.636364
10,college_physics,0.636364,0.363636,0.363636,0.454545
11,computer_security,0.636364,0.363636,0.454545,0.545455
12,conceptual_physics,0.653846,0.500000,0.500000,0.576923
13,econometrics,0.583333,0.666667,0.583333,0.750000
14,electrical_engineering,0.625000,0.562500,0.562500,0.500000
15,elementary_mathematics,0.487805,0.609756,0.609756,0.585366
16,formal_logic,0.357143,0.214286,0.214286,0.214286
17,global_facts,0.300000,0.500000,0.500000,0.500000
18,high_school_biology,0.656250,0.656250,0.625000,0.687500
19,high_school_chemistry,0.454545,0.363636,0.363636,0.363636
20,high_school_computer_science,0.777778,0.777778,0.777778,0.777778
21,high_school_european_history,0.888889,0.833333,0.777778,0.722222
22,high_school_geography,0.954545,0.909091,0.909091,0.863636
23,high_school_government_and_politics,0.761905,0.857143,0.857143,0.857143
24,high_school_macroeconomics,0.534884,0.511628,0.581395,0.581395
25,high_school_mathematics,0.241379,0.172414,0.206897,0.275862
26,high_school_microeconomics,0.730769,0.576923,0.653846,0.653846
27,high_school_physics,0.176471,0.058824,0.058824,0.058824
28,high_school_psychology,0.866667,0.883333,0.866667,0.900000
29,high_school_statistics,0.521739,0.304348,0.434783,0.434783
30,high_school_us_history,0.727273,0.909091,0.863636,0.954545
31,high_school_world_history,0.769231,0.692308,0.769231,0.807692
32,human_aging,0.739130,0.826087,0.782609,0.826087
33,human_sexuality,0.583333,0.750000,0.833333,0.750000
34,international_law,0.923077,0.923077,0.923077,0.923077
35,jurisprudence,0.636364,0.727273,0.727273,0.636364
36,logical_fallacies,0.722222,0.666667,0.666667,0.722222
37,machine_learning,0.454545,0.363636,0.454545,0.454545
38,management,0.818182,0.818182,0.727273,0.909091
39,marketing,0.840000,0.840000,0.840000,0.840000
40,medical_genetics,0.909091,0.909091,0.909091,0.909091
41,miscellaneous,0.744186,0.837209,0.802326,0.848837
42,moral_disputes,0.578947,0.552632,0.578947,0.605263
43,moral_scenarios,0.320000,0.250000,0.260000,0.300000
44,nutrition,0.757576,0.696970,0.666667,0.696970
45,philosophy,0.735294,0.764706,0.764706,0.735294
46,prehistory,0.657143,0.714286,0.685714,0.685714
47,professional_accounting,0.419355,0.483871,0.516129,0.483871
48,professional_law,0.394118,0.482353,0.482353,0.529412
49,professional_medicine,0.741935,0.677419,0.677419,0.838710
50,professional_psychology,0.681159,0.637681,0.594203,0.652174
51,public_relations,0.416667,0.500000,0.583333,0.416667
52,security_studies,0.777778,0.777778,0.740741,0.777778
53,sociology,0.909091,0.909091,0.954545,1.000000
54,us_foreign_policy,0.818182,1.000000,1.000000,1.000000
55,virology,0.666667,0.611111,0.611111,0.611111
56,world_religions,0.789474,0.842105,0.842105,0.842105

In [39]:
acc_by_categories = pd.DataFrame({
    'category': list(set(preds_dfs['cfg11'].category))
})

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['category', 'corr']].groupby(['category'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_categories = acc_by_categories.merge(
        acc_df,
        left_on='category',
        right_on='category',
        how='right'
    )

In [40]:
acc_by_categories

                          category       raw     cfg11     cfg12     cfg13
0                             STEM  0.504673  0.445483  0.467290  0.495327
1                       humanities  0.527027  0.546332  0.548263  0.575290
2  other (business, health, misc.)  0.695775  0.721127  0.707042  0.740845
3                  social sciences  0.732938  0.732938  0.738872  0.756677

In [5]:
preds_df[['category', 'corr']].groupby(['category']).mean()

                                     corr
category
STEM                             0.525182
humanities                       0.527099
other (business, health, misc.)  0.706663
social sciences                  0.721807

In [6]:
total_accuracy = preds_df['corr'].mean()
total_correctness = (preds_df['pred'] != 'I').mean()

print(f"{total_accuracy=}")
print(f"{total_correctness=}")

total_accuracy=0.6108104258652614
total_correctness=0.997151402934055