In [10]:
from functools import reduce

import pandas as pd
import numpy as np

import pickle

In [6]:
preds_path_ls = [
    ('raw 0 shot',   r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\Raw_0sh.bin'),
    ('raw 5 shot',   r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\Raw_5sh.bin'),
    ('LoRA 0 shot',  r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\LoRA-cfg13_0sh.bin'),
    ('LoRA 5 shot',  r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\LoRA-cfg13_5sh.bin'),
    ('GSOFT 0 shot', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\GSOFT-cfg0_0sh.bin'),
    ('GSOFT 5 shot', r'C:\Users\Vladimir\PycharmProjects\OrthogonalFineTune\test_preds\GSOFT-cfg0_5sh.bin'),
]

In [7]:
preds_dfs = {}

for run_name, preds_path in preds_path_ls:
    with open(preds_path, 'rb') as f:
        preds_dfs[run_name] = pickle.load(file=f)

        print(f"{run_name:16}: {preds_dfs[run_name].shape=}")

raw 0 shot      : preds_dfs[run_name].shape=(14042, 6)
raw 5 shot      : preds_dfs[run_name].shape=(14042, 6)
LoRA 0 shot     : preds_dfs[run_name].shape=(14042, 6)
LoRA 5 shot     : preds_dfs[run_name].shape=(14042, 6)
GSOFT 0 shot    : preds_dfs[run_name].shape=(14042, 6)
GSOFT 5 shot    : preds_dfs[run_name].shape=(14042, 6)

In [29]:
preds_dfs['GSOFT 0 shot'].head()

   generated_text           subject pred true  corr category
0            B. 4  abstract_algebra    B    B     1     STEM
1            A. 8  abstract_algebra    A    C     0     STEM
2  We have that x  abstract_algebra    I    D     0     STEM
3        A. True,  abstract_algebra    A    B     0     STEM
4            B. 6  abstract_algebra    B    B     1     STEM

In [24]:
acc_by_subjects = pd.DataFrame({
    'subject': list(set.union(
        *map(
            lambda df: set(df['subject']),
            preds_dfs.values()
        )
    ))
})

print(f"Subjects: {acc_by_subjects['subject']}")

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['subject', 'corr']].groupby(['subject'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_subjects = acc_by_subjects.merge(
        acc_df,
        left_on='subject',
        right_on='subject',
        how='right'
    )

Subjects: 0                       computer_security
1                     high_school_physics
2                                 anatomy
3                college_computer_science
4               high_school_world_history
5                       us_foreign_policy
6                               astronomy
7                               nutrition
8                  electrical_engineering
9                              philosophy
10                      college_chemistry
11                  professional_medicine
12             high_school_macroeconomics
13                 high_school_statistics
14                        college_physics
15                        business_ethics
16                           econometrics
17                  high_school_chemistry
18                    high_school_biology
19           high_school_computer_science
20                       security_studies
21    high_school_government_and_politics
22                     conceptual_physics
23                 high_school_psychology
24                professional_accounting
25                       medical_genetics
26                               virology
27                            human_aging
28                           formal_logic
29                       professional_law
30                 elementary_mathematics
31                     clinical_knowledge
32                professional_psychology
33                             prehistory
34                              marketing
35           high_school_european_history
36                      logical_fallacies
37             high_school_microeconomics
38                         moral_disputes
39                       college_medicine
40                        college_biology
41                        moral_scenarios
42                       abstract_algebra
43                       public_relations
44                      international_law
45                             management
46                        world_religions
47                  high_school_geography
48                          miscellaneous
49                              sociology
50                high_school_mathematics
51                          jurisprudence
52                       machine_learning
53                 high_school_us_history
54                           global_facts
55                        human_sexuality
56                    college_mathematics
Name: subject, dtype: object

In [25]:
acc_by_subjects

,subject,raw 0 shot,raw 5 shot,LoRA 0 shot,LoRA 5 shot,GSOFT 0 shot,GSOFT 5 shot
0,abstract_algebra,0.350000,0.310000,0.400000,0.330000,0.300000,0.310000
1,anatomy,0.674074,0.666667,0.622222,0.666667,0.637037,0.622222
2,astronomy,0.750000,0.723684,0.710526,0.723684,0.723684,0.684211
3,business_ethics,0.660000,0.670000,0.620000,0.660000,0.720000,0.690000
4,clinical_knowledge,0.716981,0.747170,0.735849,0.750943,0.754717,0.750943
5,college_biology,0.715278,0.756944,0.791667,0.763889,0.743056,0.770833
6,college_chemistry,0.450000,0.460000,0.460000,0.480000,0.490000,0.480000
7,college_computer_science,0.470000,0.570000,0.480000,0.580000,0.410000,0.570000
8,college_mathematics,0.350000,0.350000,0.330000,0.370000,0.340000,0.340000
9,college_medicine,0.618497,0.641618,0.624277,0.647399,0.664740,0.664740
10,college_physics,0.441176,0.401961,0.480392,0.509804,0.480392,0.529412
11,computer_security,0.770000,0.760000,0.750000,0.760000,0.780000,0.760000
12,conceptual_physics,0.548936,0.591489,0.536170,0.553191,0.561702,0.578723
13,econometrics,0.500000,0.570175,0.570175,0.517544,0.578947,0.517544
14,electrical_engineering,0.579310,0.606897,0.606897,0.641379,0.613793,0.634483
15,elementary_mathematics,0.460317,0.441799,0.460317,0.460317,0.447090,0.436508
16,formal_logic,0.388889,0.500000,0.476190,0.476190,0.452381,0.468254
17,global_facts,0.420000,0.420000,0.370000,0.430000,0.410000,0.450000
18,high_school_biology,0.790323,0.796774,0.754839,0.754839,0.787097,0.770968
19,high_school_chemistry,0.453202,0.507389,0.536946,0.561576,0.581281,0.551724
20,high_school_computer_science,0.650000,0.700000,0.730000,0.770000,0.690000,0.710000
21,high_school_european_history,0.715152,0.769697,0.763636,0.733333,0.769697,0.757576
22,high_school_geography,0.777778,0.813131,0.792929,0.828283,0.818182,0.828283
23,high_school_government_and_politics,0.849741,0.911917,0.891192,0.891192,0.891192,0.906736
24,high_school_macroeconomics,0.610256,0.671795,0.605128,0.641026,0.651282,0.658974
25,high_school_mathematics,0.329630,0.351852,0.303704,0.392593,0.251852,0.351852
26,high_school_microeconomics,0.731092,0.760504,0.722689,0.726891,0.710084,0.743697
27,high_school_physics,0.357616,0.430464,0.430464,0.417219,0.370861,0.397351
28,high_school_psychology,0.823853,0.831193,0.851376,0.866055,0.849541,0.858716
29,high_school_statistics,0.481481,0.518519,0.513889,0.541667,0.490741,0.560185
30,high_school_us_history,0.759804,0.764706,0.803922,0.823529,0.833333,0.838235
31,high_school_world_history,0.776371,0.835443,0.852321,0.843882,0.839662,0.843882
32,human_aging,0.690583,0.735426,0.672646,0.704036,0.699552,0.708520
33,human_sexuality,0.740458,0.778626,0.755725,0.786260,0.809160,0.786260
34,international_law,0.735537,0.785124,0.768595,0.768595,0.776860,0.809917
35,jurisprudence,0.703704,0.768519,0.768519,0.777778,0.796296,0.787037
36,logical_fallacies,0.730061,0.748466,0.717791,0.699387,0.711656,0.748466
37,machine_learning,0.428571,0.526786,0.562500,0.580357,0.562500,0.544643
38,management,0.786408,0.805825,0.815534,0.844660,0.825243,0.825243
39,marketing,0.871795,0.910256,0.871795,0.884615,0.905983,0.914530
40,medical_genetics,0.740000,0.780000,0.800000,0.750000,0.790000,0.810000
41,miscellaneous,0.809706,0.819923,0.826309,0.817369,0.810983,0.833972
42,moral_disputes,0.656069,0.760116,0.676301,0.734104,0.679191,0.731214
43,moral_scenarios,0.271508,0.469274,0.291620,0.412291,0.244693,0.452514
44,nutrition,0.732026,0.764706,0.725490,0.732026,0.735294,0.748366
45,philosophy,0.681672,0.733119,0.707395,0.697749,0.733119,0.723473
46,prehistory,0.719136,0.734568,0.716049,0.743827,0.700617,0.728395
47,professional_accounting,0.510638,0.542553,0.500000,0.521277,0.521277,0.510638
48,professional_law,0.415906,0.462190,0.483051,0.483703,0.474576,0.481747
49,professional_medicine,0.746324,0.694853,0.702206,0.731618,0.731618,0.716912
50,professional_psychology,0.633987,0.694444,0.696078,0.712418,0.683007,0.707516
51,public_relations,0.645455,0.672727,0.654545,0.627273,0.727273,0.690909
52,security_studies,0.702041,0.734694,0.710204,0.738776,0.730612,0.738776
53,sociology,0.850746,0.850746,0.860697,0.860697,0.860697,0.860697
54,us_foreign_policy,0.860000,0.840000,0.880000,0.890000,0.870000,0.890000
55,virology,0.463855,0.506024,0.500000,0.493976,0.481928,0.500000
56,world_religions,0.801170,0.812865,0.836257,0.812865,0.812865,0.818713

In [30]:
acc_by_categories = pd.DataFrame({
    'category': list(set.union(
        *map(
            lambda df: set(df['category']),
            preds_dfs.values()
        )
    ))
})

for run_name, preds_df in preds_dfs.items():
    acc_df = preds_df[['category', 'corr']].groupby(['category'], as_index=False).mean()
    acc_df.rename(columns={'corr': run_name}, inplace=True)

    acc_by_categories = acc_by_categories.merge(
        acc_df,
        left_on='category',
        right_on='category',
        how='right'
    )

In [39]:
acc_by_categories.loc[:, list(filter(
    lambda s: ('5 shot' not in s),
    acc_by_categories.columns
))]

                          category  raw 0 shot  LoRA 0 shot  GSOFT 0 shot
0                             STEM    0.525182     0.542744      0.534129
1                       humanities    0.527099     0.568757      0.557917
2  other (business, health, misc.)    0.706663     0.705737      0.719309
3                  social sciences    0.721807     0.746831      0.756906

In [40]:
acc_by_categories.loc[:, list(filter(
    lambda s: ('0 shot' not in s),
    acc_by_categories.columns
))]

                          category  raw 5 shot  LoRA 5 shot  GSOFT 5 shot
0                             STEM    0.546720     0.562293      0.552353
1                       humanities    0.603826     0.595537      0.607439
2  other (business, health, misc.)    0.724244     0.718075      0.726095
3                  social sciences    0.758531     0.760806      0.765356

In [41]:
total_res = pd.DataFrame(columns=['run_name', 'accuracy', 'correctness'])

for run_name, preds_df in preds_dfs.items():
    total_accuracy = preds_df['corr'].mean()
    total_correctness = (preds_df['pred'] != 'I').mean()

    total_res = pd.concat([
        total_res,
        pd.DataFrame({
            'run_name': [run_name],
            'accuracy': [total_accuracy],
            'correctness': [total_correctness],
        })
    ])

C:\Users\Vladimir\AppData\Local\Temp\ipykernel_5496\2066953499.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  total_res = pd.concat([

In [42]:
total_res

       run_name  accuracy  correctness
0    raw 0 shot  0.610810     0.997151
0    raw 5 shot  0.653255     0.999217
0   LoRA 0 shot  0.633813     0.995656
0   LoRA 5 shot  0.652898     1.000000
0  GSOFT 0 shot  0.633670     0.992095
0  GSOFT 5 shot  0.657599     1.000000